@import "~bootstrap/scss/bootstrap";

.timeline {
    position: relative;
    padding: 0;
    list-style: none;
}

.timeline-item {
    position: relative;
    margin-bottom: 30px;
}

.timeline-item .timeline-arrow {
    position: absolute;
    top: 20px;
    left: -20px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 10px 0;
    border-color: transparent #fff transparent transparent;
}

.timeline-item:before {
    content: "";
    position: absolute;
    top: 15px;
    left: -10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #007bff;
    border: 4px solid #fff;
    z-index: 1;
}

.timeline-item h2 {
    font-size: 1.25rem;
    font-weight: bold;
    color: #007bff;
}

.timeline-item p {
    color: #333;
}

.timeline-item .small {
    color: #6c757d;
}

.timeline-item .text-gray {
    color: #6c757d;
}

.timeline-item {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.timeline-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
